---
import '../styles/global.css'
import TailwindIcon from '../assets/skills/tailwind.svg'
import ReactIcon from '../assets/skills/react.svg'
import AstroIcon from '../assets/skills/astro.svg'
import SupabaseIcon from '../assets/skills/supabase.svg'
import ViteIcon from '../assets/skills/vite.svg'

import Projects from '../data/projects.json'
---

<article
  class='w-full max-w-[1800px] flex flex-col px-5 py-10 md:px-20 xl:px-60'
  id='container'
>
  <h2 class='text-3xl mb-5 text-[#EB5E28]'>PROYECTOS DESTACADOS</h2>
  {
    Projects.map((project) => (
      <a
        href={project.url}
        target='_blank'
        rel='noopener noreferrer'
        class='mb-6'
      >
        <div class='flex flex-col md:flex-row border-2 border-[#EB5E28] rounded-lg overflow-hidden hover:scale-[1.02] transition-transform duration-300 shadow-lg'>
          <img
            src={project.image}
            alt={project.title}
            class='w-full md:w-1/2 h-72 object-cover'
          />
          <div class='p-6 bg-[#1E1E1E] flex flex-col justify-between w-full'>
            <div>
              <h3 class='text-2xl font-bold mb-2 text-[#EB5E28]'>
                {project.title}
              </h3>
              <p class='mb-4 text-white'>{project.description}</p>
            </div>
            <ul class='flex gap-4 items-center'>
              {project.technologies.map((tech) => (
                <li class='w-6'>
                  {tech.name === 'React' && <ReactIcon />}
                  {tech.name === 'Astro' && <AstroIcon />}
                  {tech.name === 'Tailwind' && <TailwindIcon />}
                  {tech.name === 'Vite' && <ViteIcon />}
                  {tech.name === 'Supabase' && <SupabaseIcon />}
                </li>
              ))}
            </ul>
          </div>
        </div>
      </a>
    ))
  }
</article>
